#about {
  display: flex;

  blockquote {
    margin: 0;
    padding-left: var(--size-base);
    border-left: 2px solid var(--darkerPink);
  }

  section:nth-child(1) {
    padding-right: var(--size-base);
  }

  section:nth-child(2) ul li {
    --border-radius: 3px;
    margin: 0.35em;
    padding: 0.3em 0.5em;
    background-color: var(--main);
    color: var(--white);
    border-radius: var(--border-radius);
    font-size: 1em;
    box-shadow: var(--level-3);
    cursor: default;
  }
}

@media only screen and (max-width: 640px) {
  #about {
    display: block;

    section:nth-child(2) ul li {
      font-size: 0.8rem;
    }
  }
}