#contribute ol {
  counter-reset: counts 0;

  li {
    counter-increment: counts 1;

    &::before {
      content: counter(counts) ". ";
      color: var(--main);
      font-weight: var(--font-weight-medium);
    }
  }
}