header {
  grid-area: header;
  background: url("https://source.unsplash.com/5em1lVBmvw8/1920x1280") no-repeat;
  background-size: auto;
  padding: 10%;
  background-size: cover;

  h2 {
    font-size: calc(var(--font-size-h2) * 0.8);
    background: var(--lighterPink);
    max-width: 51%;
  }

  p {
    margin-top: 0.5rem;
    padding: 0.2rem 0.2rem 0.2rem 0;
    line-height: normal;
    background: var(--lighterPink);
    max-width: 43%;
  }

  *+* {
    margin-top: 3vh;
  }
}

@media only screen and (max-width: 640px) {
  header {
    padding: 5rem 2rem;

    h2,
    p {
      max-width: 100%;
    }
  }
}