body {
  display: grid;
  grid-template-areas: "header header""nav nav""main main""aside1 aside2""footer footer";
  grid-template-columns: 1fr 1fr;
  background: var(--background);
  color: var(--text-color);
  font-family: "Inconsolata", monospace;
  font-size: var(--font-size-text);
}

nav,
main,
footer {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

main {
  grid-area: main;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

article {
  margin: 0 auto;
  padding: 1.5rem;
  padding-top: var(--size-700);
  max-width: var(--width--container);
}

aside {
  .container {
    padding: 1.5rem;
  }
}

.container {
  width: 100%;
}

#guidelines>*+*,
#contribute>*+*,
#files>*+* {
  margin-top: var(--size-600);
}

.profile,
#files {
  padding-top: var(--size-700);
}

@media only screen and (max-width: 640px) {
  body {
    display: grid;
    grid-template-areas: "header""nav""main""aside2""aside1""footer";
    grid-template-columns: 1fr;
  }
}