a {
  text-decoration: none;
  color: var(--darkGrey);
  border-bottom: solid 2px var(--anchor);
  transition: all 0.3s ease-in-out;

  &:not([class]):hover {
    color: var(--anchor-hover);
    border-bottom: none;
    transition: transform 200ms ease 0s;
  }
}

a[class] {
  padding: 0.3em 1em;
  background: var(--main);
  color: var(--light);
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;

  span {
    line-height: 14px;
  }

  &:hover {
    box-shadow: var(--level-3);
    transform: scale(1.05);
  }
}

header a,
main a,
footer a {
  &:not([class]):hover {
    --anchor-hover: var(--darkerPink);
  }
}

.skip-link {
  --main: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: 1rem;

  @media only screen and (min-width: 641px) {
    right: 1rem;
  }
}

aside#styles .container {
  ul+a {
    --light: var(--darkGrey);
    background: inherit;
    border: 1px solid black;
    border-bottom: solid 2px var(--anchor);
  }
}

aside.profile .container {
  ul+a {
    padding: 0.3rem 1rem;
    display: inline-block;
    background: inherit;
    border-radius: var(--border-radius);
    border: 1px solid black;
    border-bottom: solid 2px var(--anchor);
    text-decoration: none;
    transition: all 0.3s ease 0s;

    &:after {
      background: none;
    }

    &:hover {
      --anchor-hover: var(--darkGrey);
      box-shadow: var(--level-3);
      transform: scale(1.05);
    }
  }
}

.link-github {
  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;
  }
}

@media only screen and (max-width: 640px) {
  .skip-link {
    left: 1rem;
  }
}