nav {
  --anchor: var(--darkGrey);
  --main: var(--white);
  grid-area: nav;
  background-color: var(--navColor);

  ul {
    margin: 0;
    justify-content: center;

    li {
      margin: 0.5em;
    }
  }
}