#styles {
  grid-area: aside1;
  padding-bottom: var(--size-700);

  .container {
    max-width: calc(var(--width--container) / 2);
    margin: 0;
    margin-left: auto;
  }

  @media only screen and (min-width: 641px) {
    padding-top: var(--size-700);
  }
}