::selection {
  background: var(--lighterPink);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: var(--font-family);
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--main);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

header a,
nav a,
main a,
aside a,
footer a {
  text-decoration: none;
  color: var(--darkGrey);
  border-bottom: solid 2px var(--anchor);
  transition: all 0.3s ease-in-out;

  &:not([class]):hover {
    color: var(--main);
    border-bottom: none;
    transition: transform 200ms ease 0s;
  }
}

header h2 {
  font-size: calc(var(--font-size-h2) * 0.8);
}

blockquote {
  margin: 0;
  padding-left: var(--size-base);
  border-left: 2px solid var(--darkerPink);
}

@media only screen and (max-width: 640px) {
  :root {
    --font-size-text: 1rem;
    --font-size-h1: 2rem;
    --font-size-h2: 1.85rem;
    --font-size-h3: 1.5rem;
  }

  #about {
    display: block;

    section:nth-child(2) ul li {
      font-size: 0.8rem;
    }
  }
}